.header {
    display:flex;
    background-color: #1F2937;
    padding: 10px;
    align-items: center;
}

.header img{
    width: 150px;
    height: auto;
    margin-left: 88px;
}

.header ul {
    display: flex;
    gap: 18px;
    margin-left: auto;
    margin-right: 200px;
}

ul{
    list-style: none;
    padding :0;
    margin: 0;
}

.header a {
    color: white;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
}

/* Main content section */

.main-text{
    display:flex;
    justify-content: center;
    gap: 50px;
    background-color: #1F2937;
    color: white;
    padding-bottom: 100px;
    flex-wrap:wrap;
}

.main-text .container{
    max-width: 600px;
}

.main-text img{
    width: 300px;
    height: auto;
}

.main-text h2{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

button{
    padding: 8px 20px;
    background-color:#3882F6;
    color: white;
    border-radius: 8px;
    font-size: 20px;
}

.main-text li{
    margin: 10px 0;
}

/* content section */

.contents .container{
    display: flex;
    padding: 8px 15px;
    justify-content: space-evenly;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.contents h3{
    color: Black;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.contents .subtext img{
    border: 20px solid aquamarine;
}

/* quote section */

.quote-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
    font-size:45px;
    padding: 100px 100px 80px;
}

.quote-section #quote{
    align-self:center;
}

.quote-section p{
    text-align: right;
    font-size: 28px;
    font-weight: bolder;
    padding-right: 200px;

}

/* follow section*/

.Ins .container{
    display:flex;
    padding: 20px 30px;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #3882F6;
    margin: 50px auto;
    border-radius: 4em;
}

.Ins button{
    background-color: white;
    border-radius: 30em;
}

.Ins button:hover{
    background-color: antiquewhite;
}

.Ins .container img{
    width: 100px;
    height:auto;
}

.Ins .container p{
    font-size: 24px;
    margin-bottom: 5px;
}

/* footer section */
.footer{
    background-color: #1F2937;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
}
